@import "mixins/variables.scss";
@import "mixins/mixin.scss";

img.image-style {
  padding: 10px;
}

.padding-margin-0{
  padding: 0;
  margin: 0;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.float-right {
  float: right;
}

.form {
  position: relative;
  text-align: left;
  z-index: 1;
  background: $white;
  @include width(auto);
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  .form-field {
    padding: 5px 0;
  }
  input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    border: 1px solid $gray;
    @include width(100%);
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    &[type="submit"] {
      @include width(5em);
      background: $green;
      color: $white;
      font-weight: bold;
      font-size: large;
      padding: 5px;
    }
  }
  button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: $light-gray;
    @include width(100%);
    border: 0;
    padding: 15px;
    color: $white;
    font-size: 14px;
    cursor: pointer;
    &:hover, &:active, &:focus {
      background: $green;
    }
  }
  .message {
    margin: 15px 0 0;
    color: $dark-gray2;
    font-size: 12px;
    a {
      color: $light-gray;
      text-decoration: none;
    }
  }
  .register-form {
    @include display(none);

  }
}

.container {
  position: relative;
  z-index: 1;
  @include width($max-width);
  //max-width: $max-width;
  margin: 0 auto;
  &:before, &:after {
    content: "";
    @include display(block);
    clear: both;
  }
}

body {
  background: $light-gray;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  &#email-error, &#birthday-error, &#password-error, &#password_again-error {
    @include width(100%);
    padding: 0 0 10px 0;
    color: crimson;
  }
}

@media (min-width: 1024px) {
  .form {
    input {
      @include width(200px);
    }
    label {
      @include width(140px);
      float: left;
    }
  }
  .container {
    max-width: $max-width;
  }
  img.image-style {
    @include width(200px);
  }
  div.logo > h1 {
    @include display(flex);
    align-items: center;
    justify-content: center;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  img.image-style {
    @include width(90%);
  }
}
div.logo > h1 {
  @include display(flex);
  align-items: center;
  justify-content: left;
  color: $gray-h1;
  line-height: 65px;
  @extend .padding-margin-0;
}