$white: #ffffff;
$dark-gray: #57585a;
$gray: #d9d9d9;
$light-gray: #eeeeee;
$green: #0ca49a;
$dark-gray2: #3A3F44;
$dark-green: #197071;
$gray-h1: #5d5e60;

/*variables for width*/

$middle-width: 320px;
$max-width: 80%;